* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --rage-color: hsl(240, 6%, 21%);
  --hue: 194;
  --card-selector-color: hsl(var(--hue), 97%, 31%);
  --card-selector-color-DM: hsl(calc(var(--hue) + 2), 74%, 15%);

  --hue-content: 240;
  --card-selector-content: hsl(calc(var(--hue-content) - 240), 0%, 100%);
  --card-selector-content-DM: hsl(var(--hue-content), 7%, 78%);

  --bg-dark-mode: hsla(240, 5%, 7%, 1);
  --color-contetn-dark-mode: #ffffff;
  --color-card-dark-mode: hsla(240, 6%, 17%, 1);
}
body {
  display: grid;
  justify-self: end;
  align-self: center;
  min-height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19rem;
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}
.hide {
  display: none;
}
.modes {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;
  cursor: pointer;
}
.display {
  text-align: center;
}

#timer {
  width: 32rem;
  max-height: 21rem;
}
#timer span {
  font-weight: 500;
  font-size: 13rem;
  line-height: 15rem;
  text-align: center;
  text-transform: uppercase;
}
#timer .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 0 1rem;
  width: 100%;
  cursor: pointer;
}
.cards {
  max-width: 31rem;
  width: 100%;
  max-height: 33.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
 
}
.card {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.card.select-card svg path {
  fill: var(--card-selector-color);
}
.card.select-card svg path:last-child {
  fill: var(--card-selector-content);
}
.card.select-card .volume {
  background-color: var(--card-selector-content);
}
.card.select-card .volume::-webkit-slider-thumb {
  background-color: var(--card-selector-content);
}
.volume {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 9rem;
  height: 0.2em;
  position: relative;
  border-radius: 5px;
  background-color: var(--rage-color);
  outline: none;
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
  cursor: grab;
}
.volume:-webkit-slider-thumb {
  -webkit-appearance: none;
}
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--rage-color);
  border-radius: 60px;
}
footer{ 
  width: 100%;
  max-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2px;
  gap: 2rem;
}
footer .contact{display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
}
small{
  font-size: 1.4rem;
}

/*Dark mode style »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»*/
.darkMode {
  background-color: var(--bg-dark-mode);
}
.darkModeText {
  color: var(--color-contetn-dark-mode);
}
.controlsDarkMode svg path {
  fill: var(--color-contetn-dark-mode);
}
.card.cardDarkMode svg path {
  fill: var(--color-card-dark-mode);
}
.card.cardDarkMode svg path:last-child {
  fill: var(--color-contetn-dark-mode);
}
.card.cardDarkMode .volume {
  background-color: var(--card-selector-content);
}
.card.cardDarkMode .volume::-webkit-slider-thumb {
  background-color: var(--card-selector-content);
}

.cardDarkMode.select-card svg path {
  fill: var(--card-selector-color-DM);
}
.darkModeFooter{
  background-color: var(--color-card-dark-mode);
}

@media (max-width: 860px) {
  main {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3.5rem;

  }
  .modes {
    top: 1rem;
    right: 1rem;
  }
  #timer .display span {
    font-size: 8rem;
  }

 
 
}@media (max-width:600px){
 main{
   min-height: 80vh;
 }
  .cards {
    max-width: 16rem;
    grid-template-rows: 1fr 1fr;
    gap: 0.7rem;
  }
  .cards .card svg{
    width: 9rem;
    height: 10rem;
    
  }
  .volume {
    width: 6rem;
    bottom: 1.5rem;
    left: 1.5rem;
  }
  .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--rage-color);
    border-radius: 60px;
  }
  #timer .controls {
    justify-content: center;
    gap: 2rem;
   
  }
}
